<!-- <nav class="navdash bg-dark text-light">
    <div  >
        <img src="https://i.postimg.cc/G3YfD2f6/pngwing-com-6.png" alt="..." width="140px" height="65px">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>  
    <div id="navbarSupportedContent" class="text-light collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active">Home</a></li>
            <li class="nav-item"><a class="nav-link">TvShows</a></li>
            <li class="nav-item"><a class="nav-link">Original</a></li>
            <li class="nav-item"><a class="nav-link">Movies</a></li>
            <li class="nav-item"><a class="nav-link">RecentlyAdded</a></li>
            <li class="nav-item"><a class="nav-link">MyList</a></li>
        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navdash bg-dark text-light">
    <div class="container-fluid">
        <img src="https://i.postimg.cc/G3YfD2f6/pngwing-com-6.png" alt="..." width="140px" height="65px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TvShows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Original</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">RecentlyAdded</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MyList</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>