<div id="login" class="text-light text-center">
    <nav>
        <div class="">
            <img src="https://i.postimg.cc/G3YfD2f6/pngwing-com-6.png" alt="..." width="180px" height="90px">
        </div>
        <div class="langulage pt-4">
            <div>    
                <select class="text-center" name="cars" id="cars" >
                    <option value="english">English</option>
                    <option value="hindi">हिंदी</option>
                </select>
            </div>
            <div class="mx-5">
                <button class="btn btn-danger">Sign In</button>
            </div>
        </div>
    </nav>
    <h1 style="padding-top: 11rem;"><b>Unlimited movies, TV shows and more</b></h1>
    <h2 class="py-3" style="font-size: 1.5rem;font-weight: 400;">Watch anywhere. Cancel anytime.</h2>
    <h3 style="font-size: 1.25rem;font-weight: 400;line-height: 1.875rem;">Ready to watch? Enter your email to create or restart your membership.</h3>
    <button (click)="login()" class="btn btn-danger my-3" style="width: 12rem;height: 3.2rem;">Get Started</button>
</div>
